<%= @comment.errors.full_messages.join(", ") %>
<%#= form_for @comment, url: post_comments_path(@post) do |f| %>
<%# adding a remote: true option to the form makes it so that the form submits
    with AJAX (prevent the default as well) %>
<%= form_for [@post, @comment], remote: true do |f|  %>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Comment</h4>
      </div>
      <div class="modal-body">
        <%= f.text_area :body %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit data: {disable_with: "submitting..."}, class: "btn btn-primary" %></button>
      </div>
    </div>
  </div>
<% end %>
