<h1> About Page </h1>
<hr />

<p>
  This is the Blog Assignment using Ruby on Rails for CodeCore Cohort 12 created by <strong>Jonathan Wong</strong> 
  <br /><br />
  <blockquote>
    <p> The ironic truth of life is that the only <em>constant</em>, is <em>change</em> </p>
    <small> Some MSN Messenger status in 2005, <cite>probably</cite> </small>
  </blockquote>
</p>
