// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form {
  .checkbox {
    display: inline-block;
    margin-right: 10px;
    input[type="checkbox"] {
      margin-left: -13px;
    }
  }
  .check_boxes {
    label {
      display: block;
    }
  }
}

// positioning and hide bullet points
#post-list {
  margin-left: -35px;
}

#post-list li {
  list-style: none;
}

// search icon
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.search { position: relative; }
.search input { text-indent: 30px;}
.search .fa-search {
  position: absolute;
  top: 10px;
  left: 13px;
  font-size: 15px;
  opacity: 0.5;
}
